<h1 class="title">Product List</h1>

<button (click)="load()" class="btn-gray">Load Dummy Data</button>
<div class="spacing" *ngIf="loading">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="50"
    height="50"
    viewBox="0 0 24 24"
  >
    <path
      fill="#111"
      d="M12 2A10 10 0 1 0 22 12A10 10 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8A8 8 0 0 1 12 20Z"
      opacity="0.5"
    />
    <path fill="#555" d="M20 12h2A10 10 0 0 0 12 2V4A8 8 0 0 1 20 12Z">
      <animateTransform
        attributeName="transform"
        dur="1s"
        from="0 12 12"
        repeatCount="indefinite"
        to="360 12 12"
        type="rotate"
      />
    </path>
  </svg>
</div>
<div *ngIf="error" class="text-danger">{{ error }}</div>

<table
  *ngIf="!loading && productService.products.length"
  border="1"
  cellPadding="8"
  class="bg-red-500"
>
  <thead>
    <tr>
      <td>ID</td>
      <td>Brand</td>
      <td>Deskripsi</td>
      <td>Price</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productService.products">
      <td>{{ product.id }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td class="actions">
        <button class="btn-red" (click)="deleteProduct(product.id)">
          Delete
        </button>
        <button class="btn-blue" (click)="updateProduct(product.id)">
          Update
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="spacing" *ngIf="!loading && productService.products.length === 0">
  <i> data not found... </i>
</div>
<!-- UPDATE MODAL -->
<div class="modal" *ngIf="showEditModal">
  <div class="modal-content">
    <h2>Edit Product</h2>

    <form [formGroup]="editForm">
      <label>Brand</label>
      <input type="text" formControlName="brand" />
      <div
        *ngIf="editForm.get('brand')?.invalid && editForm.get('brand')?.touched"
        class="text-danger"
      >
        Brand is required
      </div>

      <label>Price</label>
      <input type="number" formControlName="price" />
      <div
        *ngIf="editForm.get('price')?.invalid && editForm.get('price')?.touched"
        class="text-danger"
      >
        Price must be positive
      </div>

      <label>Description</label>
      <textarea formControlName="description"></textarea>
      <div
        *ngIf="
          editForm.get('description')?.invalid &&
          editForm.get('description')?.touched
        "
        class="text-danger"
      >
        Description is required
      </div>

      <button type="button" (click)="saveUpdate()">Save</button>
      <button type="button" (click)="showEditModal = false">Cancel</button>
    </form>
  </div>
</div>
